body{
    font-size: 17px;
    font-family: arial;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2em;
}
header{
    font-size: 25px;
    color: blue;
    background-color: rgba(187,187,255,.9);
    padding: 20px;
    text-align: center;
    border: 8px rgb(74, 8, 136) solid;
    margin-bottom: 10px;
}

#instructions{
    color: blue; 
    background-color: rgba(187,187,255, .9); 
    border: 6px rgb(74, 8, 136) solid;  
    margin: 10px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

#randomNumber{
    color: blue;
    background-color: rgba(187,187,255,.9);
    border: 6px rgb(74, 8, 136) solid; 
    width: 300px;
    margin: 10px;
    padding: 5px;
}

#winLose{
    color: blue;
    background-color: rgba(187,187,255,.9);
    border: 6px rgb(74, 8, 136) solid; 
    width: 200px;
    margin: 10px;
    padding: 5px;
}
#leftonly{
    display: flex;
}
#userScore{
    color: blue;
    background-color: rgba(187,187,255,.9);
    border: 6px rgb(74, 8, 136) solid; 
    width: 300px;
    margin: 10px;
    padding: 5px;
}

#guess{
    color:black;
}

.crystal-button{
    border: 4px rgb(74, 8, 136) solid; 
    width: 300px;
    height: 300px;
}